@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Schlechter Witz des Tages:</h1>
    <p style="background-color: lightgrey;
  max-width: 800px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px auto;align-content:center;" >@ViewData["Joke"]</p>
</div>
